{{ $section := where .Site.RegularPages "Section" "in" (slice "posts") }}
{{ $section_pin := where .Site.RegularPages "Params.pin" true }}
{{ $section_count := len $section }}
{{ $tags_count := len .Site.Taxonomies.tags }}
{{ $pin_count := len $section_pin }}

<div class="container-xl">
  <div class="d-flex flex-sm-row flex-column">
    <div class="p-2 pt-0 col-sm-3">
      <div class="d-flex flex-column sticky-top ">
        <div class="d-flex flex-sm-column ">
          <div class="pt-1 pt-md-2 pb-2 order-sm-1 order-2">
            <p class="fs-4 fw-bold p-0 m-0">{{ .Site.Params.title }}</p>
            <p class="fs-6 text-dark-emphasis">{{ .Site.Params.subtitle }}</p>
          </div>
          <div class="pt-2 col-0 col-sm-8 order-sm-2">
            <div class="list-group rounded">
              {{ range $m := .Site.Params.menu }}
              <a href="{{ $m.url }}" class="list-group-item list-group-item-action py-1" aria-current="true">
                <span><i class="{{ $m.fa }} me-2"></i>{{ $m.name }}</span>
              </a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="pt-3 mt-3 order-sm-3">{{ .Site.Params.Description }}</div>
        {{ if .Site.Params.noteworthies }}
        <div class="pt-4 col-3 col-sm-8 order-sm-4">
          {{range $nw := .Site.Params.noteworthies}}
          <span class="badge rounded-pill text-bg-light">{{ $nw }}</span>
          {{ end }}
        </div>
        {{ end }}
        <div class="pt-5 pb-4 order-sm-5">
          <ul class="list-group list-group-horizontal-sm">
            {{ if .Site.Params.github}}
            <li class="list-group-item">
              <a class="link-secondary" href="https://github.com/{{ .Site.Params.github }}">
                <i class="fa-brands fa-github-alt"></i>
              </a>
            </li>
            {{ end }}
            {{ if .Site.Params.mastodon }}
            <li class="list-group-item">
              <a class="link-secondary" href="{{ .Site.Params.mastodon }}">
                <i class="fa-brands fa-mastodon"></i>
              </a>
            </li>
            {{ end }}
            {{ if .Site.Params.email }}
            <li class="list-group-item">
              <a class="link-secondary" href="mailto:{{ .Site.Params.email }}">
                <i class="fa-regular fa-envelope"></i>
              </a>
            </li>
            {{ end }}
          </ul>
          {{ if .Site.Params.rss }}
          <a style="margin: 0 10px 10px 0;" href="{{ " index.xml" | absURL }}"><img alt="@rss" width="32" height="32"
              src="{{ " images/rss.png" | absURL }}"></a>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="p-2 pt-0 col-sm-9">
      <ul class="nav nav-underline sticky-top d-flex pt-2 mb-md-4 bg-white border-bottom">
        <li class="nav-item px-md-1">
          <a class="nav-link {{ if .IsHome  }} text-dark active {{ else }} text-dark-emphasis {{ end }}"
            href="{{ .Site.BaseURL }}">
            <svg height="16" viewBox="0 0 16 16" version="1.1" width="16">
              <path class="me-1" fill-rule="evenodd"
                d="m11.294.984 3.722 3.722a1.75 1.75 0 0 1-.504 2.826l-1.327.613a3.089 3.089 0 0 0-1.707 2.084l-.584 2.454c-.317 1.332-1.972 1.8-2.94.832L5.75 11.311 1.78 15.28a.749.749 0 1 1-1.06-1.06l3.969-3.97-2.204-2.204c-.968-.968-.5-2.623.832-2.94l2.454-.584a3.08 3.08 0 0 0 2.084-1.707l.613-1.327a1.75 1.75 0 0 1 2.826-.504ZM6.283 9.723l2.732 2.731a.25.25 0 0 0 .42-.119l.584-2.454a4.586 4.586 0 0 1 2.537-3.098l1.328-.613a.25.25 0 0 0 .072-.404l-3.722-3.722a.25.25 0 0 0-.404.072l-.613 1.328a4.584 4.584 0 0 1-3.098 2.537l-2.454.584a.25.25 0 0 0-.119.42l2.731 2.732Z">
              </path>
            </svg>
            <span class="m-1">Pinned</span>
            <span class="badge fw-normal bg-secondary bg-opacity-25 text-opacity-50 rounded-pill text-dark-emphasis">{{
              $pin_count}}</span>
          </a>
        </li>
        <li class="nav-item px-md-1">
          <a class='nav-link  {{ if eq .Type "posts" }} text-dark active {{ else }} text-dark-emphasis {{ end }}'
            href="{{ .Site.BaseURL }}/posts/">
            <svg height="16" viewBox="0 0 16 16" version="1.1" width="16">
              <path fill-rule="evenodd"
                d="M0 1.75A.75.75 0 01.75 1h4.253c1.227 0 2.317.59 3 1.501A3.744 3.744 0 0111.006 1h4.245a.75.75 0 01.75.75v10.5a.75.75 0 01-.75.75h-4.507a2.25 2.25 0 00-1.591.659l-.622.621a.75.75 0 01-1.06 0l-.622-.621A2.25 2.25 0 005.258 13H.75a.75.75 0 01-.75-.75V1.75zm8.755 3a2.25 2.25 0 012.25-2.25H14.5v9h-3.757c-.71 0-1.4.201-1.992.572l.004-7.322zm-1.504 7.324l.004-5.073-.002-2.253A2.25 2.25 0 005.003 2.5H1.5v9h3.757a3.75 3.75 0 011.994.574z">
              </path>
            </svg>
            <span class="m-1">Posts</span>
            <span class="badge fw-normal bg-secondary bg-opacity-25 text-opacity-50 rounded-pill text-dark-emphasis">{{
              $section_count}}</span>
          </a>
        </li>
        <li class="nav-item px-md-1">
          <a class='nav-link {{ if eq .Type "tags" }} text-dark active {{ else }} text-dark-emphasis {{ end }}'
            href="{{ .Site.BaseURL }}/tags/">
            <svg viewBox="0 0 16 16" version="1.1" width="16" height="16">
              <path fill-rule="evenodd"
                d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z">
              </path>
            </svg>
            <span class="m-1">Tags</span>
            <span class="badge fw-normal bg-secondary bg-opacity-25 text-opacity-50 rounded-pill text-dark-emphasis">{{
              $tags_count}}</span>
          </a>
        </li>
      </ul>

      {{ if .IsHome }}
      {{ block "pinned" . }}{{ end }}
      {{ else if .IsPage }}
      {{ block "post" . }}{{ end }}
      {{ else if eq .Type "posts" }}
      {{ block "posts" . }}{{ end }}
      {{ else if eq .Type "tags" }}
      {{ block "tags" . }}{{ end }}
      {{ end }}
    </div>
  </div>
</div>